<!DOCTYPE html>
<html lang="<%= Tolk::Locale.primary_locale_name %>">
  <head>
    <meta charset="utf-8" />
    <title>Tolk</title>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag "/tolk/stylesheets/reset",
                            "/tolk/stylesheets/screen" %>
    <%= yield :head %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="container">
      <header>
        <h1><span class="home"><%= link_to "Tolk", tolk_root_path %></span><% if @locale.present? %><span class="locale"><%= link_to @locale.language_name, tolk_locale_path(@locale) %></span><% end %></h1>
      </header>
      <%= yield %>
    </div>
    <% if respond_to?(:sprockets_include_tag) %>
      <%= sprockets_include_tag %>
    <% else %>
      <%= javascript_include_tag '/tolk/javascripts/prototype',
                                 '/tolk/javascripts/rails',
                                 '/tolk/javascripts/application' %>
    <% end %>
  </body>
</html>
